// Custom styles.
body {
  background: url(/images/blogbk2.jpg) no-repeat;
  /* 背景图垂直、水平均居中 */
  background-position: center center;
  /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
  background-attachment: fixed;
  /* 让背景图基于容器大小伸缩 */
  background-size: cover;
  /* 设置背景颜色，背景图加载过程中会显示背景色 */
  background-color: rgba(0, 0, 0, 0.5);
}
.content {
            border-radius: 20px;
            padding: 30px 60px 30px 60px;
            background:rgba(255, 255, 255, 0.7) none repeat scroll !important;
         }
//小型代码块的样式
code {
    color: #00cdcd;
    background: #F0F8FF;
    margin: 2px;
}
// 自定义的引用样式
blockquote{
    color: #555; // 文字颜色
    border-left: 4px solid #00cdcd; // 边框颜色和粗细
    background-color: #F0F8FF; // 背景颜色
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-bottom: 20px;
}
// 目录字号
.post-toc ol {  
  font-size : 14px;     
} 